@model List<RickyShop_Site.Models.Produto>
@{  int auxCarrosel = 0;
    int cnt = 0;
 }
<link href="~/Content/Shop.css" rel="stylesheet" />

<div class="row">
    <p class="alert-success text-center" style="font-size:40px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; border-radius:15px; margin-top:3%">
        <b>PROMOÇÕES SÓ NA RICKYSHOP!</b>
    </p>
</div>

<div class="form-group">
    <div class="slider" style=" border-radius: 15px;">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">


            @foreach (var item in Model)
            {
                {

                    if (item.Desconto != null)
                    {
                        if (auxCarrosel == 0)
                        {
                            <div class="slide first">
                                @*<a href="~/Home/About" style="display:flex"> <img src="~/Imagens/McKenzie-Fato-de-Treino.jpg"/></a>*@
                                <img src="@Html.DisplayFor(modelItem => modelItem.Where(s=> s.Desconto != null).FirstOrDefault().ImagemPath)" />
                            </div>

                        }
                        if (auxCarrosel == 1)
                        {
                            <div class="slide second">
                                <a href="#"><img src="@Html.DisplayFor(modelItem => modelItem.Where(s=> s.Desconto != null).FirstOrDefault().ImagemPath)" /></a>
                            </div>
                        }
                        if (auxCarrosel == 2)
                        {
                            <div class="slide third">
                                <img src="@Html.DisplayFor(modelItem => modelItem.Where(s=> s.Desconto != null).FirstOrDefault().ImagemPath)" />
                            </div>
                        }

                        auxCarrosel++;
                    }

                }



            }

            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
            </div>
        </div>

        <div class="manual-navigation">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
        </div>
    </div>


    <br />
    <br />
    <br />

    <p class="alert-success text-center" style="font-size:40px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; border-radius:15px; margin-top:3%">
        <b>Destaque</b>
    </p>

    <div class="row">
        @foreach (var item in Model)
        {

            if (item.Desconto == null)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="@Html.DisplayFor(modelItem => modelItem.Where(s=> s.Desconto == null).FirstOrDefault().ImagemPath)" />
                        <div class="caption">
                            <h3>@Html.DisplayFor(modelItem => item.Nome) - @Html.DisplayFor(modelItem => item.PreçoPorQuantidade)€</h3>
                            <p>@Html.DisplayFor(modelItem => item.Descrição)</p>
                            <p>
                                <input type="submit" value="Adicionar" class="btn btn-success" onclick="location.href = '@Url.Action("btn_AceitarPedido", "Voluntario", new { @id = item.ID_Produto })'">
                                <input type="submit" value="Favorito" class="btn btn-danger" onclick="location.href = '@Url.Action("btn_AceitarPedido", "Voluntario", new { @id = item.ID_Produto })'">
                            </p>
                        </div>
                    </div>
                </div>
                cnt++;
            }
        }
    </div>
</div>

<script src="~/Scripts/carouselAuto.js"></script>