@model RickyShop_Site.Models.Utilizadores
@{
    Layout = null;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link href="~/Content/StyleLogin.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/StyleLogin.css" rel="stylesheet" />

<div class="fundo-externo">
    <div id="fundo">
        <img src="~/Imagens/imageTeste.jpg" style="margin-top: -17%"/>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="demo-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 mx-auto">
                    <div class="text-center image-size-small position-relative">
                        <img src="~/Imagens/login-image.jpg" class="rounded-circle p-2 bg-white">
                    </div>
                    <div class="p-5 bg-white rounded shadow-lg" style="background: linear-gradient(#a2db3b,#ffffff);">
                        <h3 class="mb-2 text-center pt-5">RickyShop</h3>
                        <p class="text-center lead">Faça login para realizar compras</p>
                        <form>
                            <label class="font-500">Email</label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Email", autofocus = true } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            <br /><label class="font-500">Password</label>
                            @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Password", type = "password" } })
                            @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                            <p class="m-0 py-4">@Html.ActionLink("Esqueceste da Password?", "EnvioToken", "ResetPass") </p>
                            <button class="btn btn-primary btn-lg w-100 shadow-lg" style="background: #a2db3b; border-color: #a2db3b; ">Entrar</button>
                        </form>
                        <span>@Html.ActionLink("Criar Conta", "Registar")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}