@model RickyShop_Site.Models.Utilizadores

@{
    Layout = null;
}

@if(ViewBag.msg != null)
{
    <div class="alert alert-success">@ViewBag.msg</div>
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/StyleLogin.css" rel="stylesheet" />
<div class="fundo-externo">
    <div id="fundo">
        <img src="~/Imagens/imageTeste.jpg" style="margin-top: -17%" ; />
    </div>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body" style="background: linear-gradient(#a2db3b,#ffffff);">
                            <div class="text-center" >
                                <h3><i class="fa fa-lock fa-4x"></i></h3>
                                <h3 class="text-center">Esqueceste da Password?</h3>
                                <p>Tu podes dar reset aqui.</p>
                                <div class="panel-body">
                                    <form class="form">
                                        <fieldset>
                                            <div class="form-group">
                                                <img src="~/Imagens/ResetPassword-image.png" style="margin-bottom:20px" />
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Email", autofocus = true } })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input class="btn btn-lg btn-primary btn-success" value="Enviar Email" type="submit">
                                            </div>
                                            <div class="form-group" style="margin-right:100%">
                                                @Html.ActionLink("Voltar", "Login")
                                            </div>
                                        </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}