@model List<RickyShop_Site.Models.PedidosDetalhes>


<div class="table-responsive-xl">
    <table id="minhaTabela" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Desconto</th>
                <th>Preço</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.ID_Produto</td>
                    <td>@RickyShop_Site.Models.Entities.db.Produto.FirstOrDefault(s => s.ID_Produto == item.ID_Produto).Nome</td>
                    <td>@item.Quantidade</td>
                    @if (item.Deconto != null)
                    {
                        <td>@item.Deconto%</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    <td>@item.Preco.ToString("N2")€</td>
                </tr>
            </tbody>
        }
    </table>
</div>




<script type="text/javascript">
    $(document).ready(function () {
        $('#minhaTabela').DataTable();
    });

    let table = new DataTable('#minhaTabela', {
        // options
    });
</script>

