@model RickyShop_Site.Models.Utilizadores


<link href="~/Content/StylePerfil.css" rel="stylesheet" />

<div class="container">
    <div class="row gutters-sm">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header border-bottom mb-3 d-flex d-md-none">
                    <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
                        <li class="nav-item">
                            <a href="#profile" data-toggle="tab" class="nav-link has-icon active"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></a>
                        </li>
                        <li class="nav-item">
                            <a href="#account" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg></a>
                        </li>
                        <li class="nav-item">
                            <a href="#security" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg></a>
                        </li>
                        <li class="nav-item">
                            <a href="#billing" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content">
                    <div class="tab-pane active" id="profile">
                        <h6>INFORMAÇÕES DO PERFIL</h6>
                        <hr>
                        <form>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Primeiro Nome</label>
                                    @Html.EditorFor(model => model.PrimeiroNome, new { htmlAttributes = new { @class = "form-control", placeholder = "Primeiro Nome", @readonly = "readonly" } })
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Segundo Nome</label>
                                    @Html.EditorFor(model => model.SegundoNome, new { htmlAttributes = new { @class = "form-control", placeholder = "Apelido", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Data de Nascimento</label>
                                    <input type="text" class="form-control datepicker" id="DataNascimento" name="DataNascimento" readonly="readonly" value="@Model.DataDeNascimento.ToString("dd/MM/yyyy")" />
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">NIF</label>
                                    @Html.EditorFor(model => model.NIF, new { htmlAttributes = new { @class = "form-control", placeholder = "NIF", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Email</label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", @readonly = "readonly" } })
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Contacto</label>
                                    @Html.EditorFor(model => model.Contacto, new { htmlAttributes = new { @class = "form-control", placeholder = "Contacto" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Morada</label>
                                    @Html.EditorFor(model => model.Morada, new { htmlAttributes = new { @class = "form-control", placeholder = "Morada" } })
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Código-Postal</label>
                                    @Html.EditorFor(model => model.CodigoPostal, new { htmlAttributes = new { @class = "form-control", placeholder = "Código-Postal" } })
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary">Atualizar Perfil</button>
                            <button type="reset" class="btn btn-light">Limpar Modificações</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="account">
                        <h6>CONFIGURAÇÕES DE CONTA</h6>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="username">Password</label>
                                <input type="password" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter password" value="kennethvaldez">
                                <small id="usernameHelp" class="form-text text-muted">Insere a sua password para confirmar.</small>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="d-block text-danger">Apagar Conta</label>
                                <p class="text-muted font-size-sm">Uma vez que você apagar sua conta, não há como voltar. Faça-o com certeza.</p>
                            </div>
                            <button class="btn btn-danger" type="button">Apagar Conta</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="security">
                        <h6>CONFIGURAÇÕES DE SEGURANÇA</h6>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label class="d-block">Alterar Password</label>
                                <input type="password" class="form-control" placeholder="Enter password antiga"> <br />
                                <input type="password" class="form-control" placeholder="Nova password"><br />
                                <input type="password" class="form-control" placeholder="Confirmar nova password"><br />
                            </div>
                            <button class="btn btn-info" type="button">Alterar Password</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="billing">
                        <h6>CONFIGURAÇÕES DE PAGAMENTO</h6>
                        <hr>
                        <form>
                            <div class="well bgcolor-skyblue" style="width:50%">
                                <h5>Neste momento tem disponível:</h5>
                                <h1>100€</h1>
                            </div>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-info" type="button" style="border-color: #f5f5f5">Adicionar Saldo</button>
                                <button class="btn btn-info" type="button" style="border-color: #f5f5f5">Rever Movimentações</button>
                            </div>


                            @*<div class="form-group">
                                    <label class="d-block mb-0">Payment Method</label>
                                    <div class="small text-muted mb-3">You have not added a payment method</div>
                                    <button class="btn btn-info" type="button">Add Payment Method</button>
                                </div>
                                <div class="form-group mb-0">
                                    <label class="d-block">Payment History</label>
                                    <div class="border border-gray-500 bg-gray-200 p-3 text-center font-size-sm">You have not made any payment.</div>
                                </div>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>