@model RickyShop_Site.Models.Utilizadores


<link href="~/Content/StylePerfil.css" rel="stylesheet" />
<div class="container">
    <div class="row gutters-sm">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header border-bottom mb-3 d-flex d-md-none">
                    <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
                        <li class="nav-item">
                            <a href="#profile" data-toggle="tab" class="nav-link has-icon active"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></a>
                        </li>
                        <li class="nav-item">
                            <a href="#account" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg></a>
                        </li>
                        <li class="nav-item">
                            <a href="#security" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg></a>
                        </li>
                        <li class="nav-item">
                            <a href="#billing" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content">
                    <div class="tab-pane active" id="profile">
                        <h6>INFORMAÇÕES DO PERFIL</h6>
                        <hr>
                        <form action="~/Utilizador/AtualizarPerfil/">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Primeiro Nome</label>
                                    <input type="text" class="form-control" name="primeiroNome" placeholder="Alfredo" value="@Model.PrimeiroNome" readonly="readonly">

                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Segundo Nome</label>
                                    <input type="text" class="form-control" name="SegundoNome" placeholder="Mendes" value="@Model.SegundoNome" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Data de Nascimento</label>
                                    <input type="text" class="form-control datepicker" id="DataNascimento" name="DataNascimento" readonly="readonly" value="@Model.DataDeNascimento.ToString("dd/MM/yyyy")" />
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">NIF</label>
                                    <input type="text" class="form-control" name="nif" placeholder="123456789" value="@Model.NIF" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Email</label>
                                    <input type="text" class="form-control" name="email" placeholder="exemplo@yyy.com" value="@Model.Email" readonly="readonly">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Contacto</label>
                                    <input type="text" class="form-control" name="contacto" placeholder="123456789" value="@Model.Contacto">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Morada</label>
                                    <input type="text" class="form-control" name="morada" placeholder="Rua xxx, nºx, Porta x" value="@Model.Morada">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="fullName">Código-Postal</label>
                                    <input type="text" class="form-control" name="codPostal" placeholder="xxxx-xxx" value="@Model.CodigoPostal">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Atualizar Perfil</button>
                            <button type="reset" class="btn btn-light">Limpar Modificações</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="account">
                        <h6>CONFIGURAÇÕES DE CONTA</h6>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="username">Password</label>
                                <input type="password" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter password" value="kennethvaldez">
                                <small id="usernameHelp" class="form-text text-muted">Insere a sua password para confirmar.</small>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="d-block text-danger">Apagar Conta</label>
                                <p class="text-muted font-size-sm">Uma vez que você apagar sua conta, não há como voltar. Faça-o com certeza.</p>
                            </div>
                            <button class="btn btn-danger" type="button">Apagar Conta</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="security">
                        <h6>CONFIGURAÇÕES DE SEGURANÇA</h6>
                        <hr>
                        <form action="~/Utilizador/AlterarPassword/">
                            <div class="form-group">
                                <label class="d-block">Alterar Password</label>
                                <input type="password" class="form-control" placeholder="Enter password Atual" name="password"> <br />
                                <input type="password" class="form-control" placeholder="Nova password" name="NovaPassword"><br />
                                <input type="password" class="form-control" placeholder="Confirmar nova password" name="ConfNovaPassword"><br />
                            </div>
                            <button class="btn btn-info" type="submit">Alterar Password</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="billing">
                        <h6>CONFIGURAÇÕES DE PAGAMENTO</h6>
                        <hr>
                        <form>
                            <div class="well bgcolor-skyblue" style="width:50%">
                                <h5>Neste momento tem disponível:</h5>
                                <h1>100€</h1>
                            </div>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-info" type="button" style="border-color: #f5f5f5" data-toggle="modal" data-target="#ModalAddSaldo">Depositar Saldo</button>
                                <button class="btn btn-info" type="button" style="border-color: #f5f5f5">Rever Movimentações</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal para mostrar dados de envio do pedido -->
<div class="modal fade" id="ModalAddSaldo" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Depositar Saldo</h3>
            </div>
            <div class="modal-body">
                <form action="~/Produtos/FecharCompra/">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label class="control-label">Nome do Titular</label>
                            <input class="form-control" size="4" type="text" placeholder="Maria Odete">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="control-label">Número do Cartão</label>
                            <input autocomplete="off" class="form-control" size="20" type="text" placeholder="1234 5678 0000 1234">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label class="control-label">Código CVV</label>
                            <input autocomplete="off" class="form-control" placeholder="ex. 311" size="4" type="text">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="control-label">Data de Validade</label>
                            <input class="form-control" placeholder="MM/YY" size="4" type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success center-block" role="button" onclick="">Concluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>