@model RickyShop_Site.Models.DadosSettingsSite

<link href="~/Content/StyleConfigSite.css" rel="stylesheet" />
<!DOCTYPE html>

<h2>Configurações do Site</h2>
<br />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfigSite</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>

            <div class="row" style="display:flex">
                <div class="center-block">
                    <h3>Quantidade de Produtos em Destaque</h3>
                    <div class="thumbnail inline-block" style="max-width: 700px; max-height: 700px; background: green">
                        <img src="~/Imagens/ProdDestaque.png" class="img-responsive center-block" alt="Imagem">
                    </div>
                    @Html.EditorFor(model => model.QtdProdutosDestaque, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 1 } })

                </div>


                <div class="center-block" style=" margin-left: 5%">
                    <h3>Quantidade de Produtos por Pagina</h3>
                    <div class="thumbnail inline-block" style="max-width: 700px; max-height: 700px; background: green;">
                        <img src="~/Imagens/ProdPorPagina.png" class="img-responsive center-block" alt="Imagem">
                    </div>
                    @Html.EditorFor(model => model.QtdProdutosPagina, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 1 } }) <br />

                </div>
            </div>

            <input type="submit" value="Guardar" class="btn btn-success center-block" />

        </div>
    }

    <br />
    <br />
    <hr />
    <br />
    <br />

    <h2>Reportes</h2>

    <table class="table table-condensed" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Utilizador</th>
                <th>Email</th>
                <th>Título</th>
                <th>Descrição</th>
                <th class="text-center">Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in RickyShop_Site.Models.Entities.db.Reporte)
            {
                <tr>
                    <td><a href="#" data-value="@item.ID_Reporte" class="ReporteDetails">@item.ID_Reporte</a></td>
                    <td>@item.Nome_Utilizador</td>
                    <td>@item.Email</td>
                    <td>@item.Titulo_Reporte</td>
                    <td>@item.Descrição_Reporte.Substring(0, 15)...</td>
                    <td>
                        @if (item.Estado_Reporte == 0)
                        {
                            <div class="reporte-estado-circulo reporte-estado-circulo--pendente"></div>
                        }
                        else
                        {
                            <div class="reporte-estado-circulo reporte-estado-circulo--fechado"></div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>


<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script src="~/Scripts/jQuery.js"></script>
<script src="~/Scripts/jQueryJava.js"></script>


@*Modal Detalhes do Pedido*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Conteúdo do modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Detalhes do Reporte</h3>
            </div>
            <div class="modal-body">
                <div id="conteudoModal">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".ReporteDetails").click(function () {
            var id = $(this).data("value");
            $("#conteudoModal").load("/Admin/ViewReporteDetails/" + id, function () {
                $("#myModal").modal("show");
            });
        });

    });
</script>