<link href="~/Content/StyleDashboard.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script src="~/Scripts/jQuery.js"></script>
<script src="~/Scripts/jQueryJava.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<body style="margin-top: 10px">
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-3">
                <div style="background-color: orange" class="small-box">
                    <div class="inner">
                        <h3>@RickyShop_Site.Models.Entities.db.Pedidos.Count()</h3>
                        <p>Pedidos</p>
                    </div>
                    <div class="icon-img">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </div>
                    <a href="~/Admin/Pedidos" class="small-box-footer">Mais Informações <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-3">
                <div class="small-box" style="background-color:indianred;">
                    <div class="inner">
                        <h3>@RickyShop_Site.Models.Entities.db.Utilizadores.Count()</h3>
                        <p>Utilizadores</p>
                    </div>
                    <div class="icon-img">
                        <i class="glyphicon glyphicon-user"></i>
                    </div>
                    <a href="~/Admin/Utilizadores" class="small-box-footer">Mais Informações <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-3">
                <div class="small-box" style="background-color:cadetblue">
                    <div class="inner">
                        <h3>@RickyShop_Site.Models.Entities.db.Produto.Count()</h3>
                        <p>Produtos</p>
                    </div>
                    <div class="icon-img">
                        <i class="glyphicon glyphicon-picture"></i>
                    </div>
                    <a href="~/Admin/Produtos" class="small-box-footer">Mais Informações <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-3">
                <div class="small-box" style="background-color:yellowgreen;">
                    <div class="inner">
                        <h3>3</h3>
                        <p>Configurações do Site</p>
                    </div>
                    <div class="icon-img">
                        <i class="glyphicon glyphicon-cog"></i>
                    </div>
                    <a href="~/Admin/ConfigSite" class="small-box-footer">Mais Informações <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </section>

    <hr />

    <div class="row">
        <p class="alert-success text-center" style="font-size: 40px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; border-radius: 15px; margin-top: 3%; width: 800px; margin-left: 187px; margin-bottom: 5%">
            Lucro de @RickyShop_Site.Models.Entities.db.Pedidos.Sum(s => s.PreçoTotal).ToString("N2")€
        </p>
    </div>

    <div style="margin-bottom: 5%; margin-left:15%">
        <div style="width:800px; height:400px">
            <h2>Estatística de Compras</h2>
            <canvas id="chartEstatisticaCompras"></canvas>
        </div>
    </div>


    <hr style="margin-bottom: 5%; margin-top:5%" />

    <div style="margin-bottom: 10%; margin-left: 30%">
        <div style="width:500px; height:500px">
            <h2>Top 5 Produtos Com Menos Stock</h2>
            <canvas id="chatrProdMenosStock"></canvas>
        </div>
    </div>

    <hr style="margin-bottom: 5%; margin-top:5%" />

    <h1>Promoção</h1>

    <table class="table table-condensed" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Data Inicio</th>
                <th>Data Fim</th>
                <th>Descrição</th>
                <th>Desconto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in RickyShop_Site.Models.Entities.db.Promo)
            {
                <tr>
                    <td><a href="#" data-value="@item.ID_Promo" class="ViewPromo">@item.ID_Promo</a></td>
                    <td>@item.Nome</td>
                    <td>@item.InicioData_Promo.ToString("dd/MM/yyyy")</td>
                    <td>@item.FimData_Promo.ToString("dd/MM/yyyy")</td>
                    <td>@item.Descrição.Substring(0, 25)...</td>
                    <td>@item.Desconto%</td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var t = RickyShop_Site.Models.Entities.db.Promo.Where(s => s.InicioData_Promo <= DateTime.Today && s.FimData_Promo >= DateTime.Now).FirstOrDefault();
    }

<div style="display:flex">
    @if (t == null)
    {
        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#AddPromo" style="margin-left:5px" data-placement="top" title="Criar Promoção"><i class="glyphicon glyphicon-plus"></i></button>
    }
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#AddImagem" style="margin-left:5px" data-placement="top" title="Adicionar Imagem"><i class="glyphicon glyphicon-picture"></i></button>
</div>


</body>


@*Gráficos*@

<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("ChartEstatisticasMesesCompras", "Admin")',
            method: 'GET',
            success: function (data) {
                var ctx = document.getElementById('chartEstatisticaCompras').getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        responsive: true,
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("ChartProdutosMenosStock", "Admin")',
            method: 'GET',
            success: function (data) {
                var ctx = document.getElementById('chatrProdMenosStock').getContext('2d');
                new Chart(ctx, {
                    type: 'pie',
                    data: data,
                    options: {
                        responsive: true,
                    }
                });
            }
        });
    });
</script>

<div class="modal fade" id="AddImagem" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Adicionar Nova Imagem - Promoção</h3>
            </div>
            <div class="modal-body">
                <!-- content goes here -->
                <form method="post" enctype="multipart/form-data" action="~/Admin/AddImagemPromo/">

                    <div class="form-group">
                        <label>Imagem da Promoção</label>
                        <input type="file" name="file" required />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success center-block">Adicionar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="AddPromo" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content center-block" style="width: 150%; margin-left: -24%;">
            <form action="~/Admin/CriarPromo/" enctype="multipart/form-data" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Criar Promoção</h3>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <label for="nome">Nome:</label>
                            <input type="text" id="nome" name="nome" required>
                        </div>
                        <div class="col-md-6" style="display:flex">
                            <label for="file">Imagem:</label>
                            <input type="file" name="file" required />
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <label for="dataInicio">Data de Início:</label>
                            <input type="date" id="dataInicio" name="dataInicio" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="dataFim">Data de Fim:</label>
                            <input type="date" id="dataFim" name="dataFim" value="" min="@DateTime.Now" required>
                        </div>
                    </div>

                    <br />

                    <div>
                        <input type="radio" id="categoriaRadio" name="opcao" onchange="atualizarDropdown();" value="1" /> Categoria
                        <input type="radio" id="marcaRadio" name="opcao" onchange="atualizarDropdown();" value="2" /> Marca
                    </div>
                    <div>
                        <select class="form-control" name="marca" id="dropdownMarcas" style="display: none;">
                            <option value="">Selecione uma marca</option>
                            @foreach (var item in RickyShop_Site.Models.Entities.db.MarcaProduto)
                            {
                                if (item.Estado == 1)
                                {
                                    <option value="@item.ID_Marca">@item.Marca</option>
                                }
                            }
                        </select>
                        <select class="form-control" name="categoria" id="dropdownCategorias" style="display: none;">
                            <option value="">Selecione uma categoria</option>
                            @foreach (var item in RickyShop_Site.Models.Entities.db.Categoria)
                            {
                                if (item.Estado == 1)
                                {
                                    <option value="@item.ID_Categoria">@item.NomeCategoria</option>
                                }
                            }
                        </select>
                    </div>

                    <br />

                    <div>
                        <label for="desconto">Desconto:</label>
                        <input type="number" min="1" max="99" id="desconto" name="desconto" required>
                    </div>

                    <br />

                    <div>
                        <label for="descricao">Descrição:</label>
                        <textarea id="descricao" name="descricao" minlength="50" rows="10" style="width: 958px; height: 192px; max-width: 874px;" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn">Criar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function atualizarDropdown() {
        var categoriaRadio = document.getElementById("categoriaRadio");
        var marcaRadio = document.getElementById("marcaRadio");
        var dropdownMarcas = document.getElementById("dropdownMarcas");
        var dropdownCategorias = document.getElementById("dropdownCategorias");


        // Mostra ou esconde as dropdowns de acordo com a seleção do radiobutton
        dropdownMarcas.style.display = marcaRadio.checked ? "block" : "none";
        dropdownCategorias.style.display = categoriaRadio.checked ? "block" : "none";
    }
</script>


<script>
    // Obter a data atual
    var currentDate = new Date();

    // Formatar a data no formato necessário para o campo date
    var year = currentDate.getFullYear();
    var month = (currentDate.getMonth() + 1).toString().padStart(2, '0'); // Os meses são baseados em zero, então é necessário adicionar +1
    var day = currentDate.getDate().toString().padStart(2, '0');

    // Definir o valor do campo date
    var dateValue = year + '-' + month + '-' + day;
    document.getElementById("dataInicio").value = dateValue;

</script>


@*Modal Adicionar Produtos e Script*@
<div class="modal fade" id="ModalViewPromo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Conteúdo do modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Detalhes Desconto</h3>
            </div>
            <div class="modal-body">
                <div id="conteudoModalViewPromo">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".ViewPromo").click(function () {
            var id = $(this).data("value");
            $("#conteudoModalViewPromo").load("/Admin/ViewPromo/" + id, function () {
                $("#ModalViewPromo").modal("show");
            });
        });

    });
</script>
