@model List<RickyShop_Site.Models.MovimentacaoSaldo>

<body>
    @if (Model.Count() != 0)
    {
        <table class="table table-condensed" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Montante</th>
                    <th>Tipo</th>
                    <th>Número do Cartão</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID_Movimentacao</td>
                        <td>@item.Quantidade.ToString("N")€</td>
                        <td>@item.Tipo</td>
                        @if (item.Tipo == "+")
                        {
                            string cartaoEscondido = new string('*', @item.NumeroCartao.Length - 3) + @item.NumeroCartao.Substring(@item.NumeroCartao.Length - 3);
                            <td>@cartaoEscondido</td>
                        }
                        else
                        {
                            <td>-</td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="alert-danger text-center" style="font-size: 20px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; border-radius: 15px;">
            <b>Nenhuma movimentação ocorrida!</b>
        </p>
    }

</body>
