@using PagedList.Mvc;
@model  PagedList.PagedList<RickyShop_Site.Models.Pedidos>

<h2>Pedidos</h2>
<body>
    <table class="table table-condensed" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Data do Pedido</th>
                <th>Data de Entrega</th>
                <th>Morada</th>
                <th>Preço Total</th>
                <th>Desconto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="#" data-value="@item.ID_Pedido" class="PedidosDetails">@item.ID_Pedido</a></td>
                    <td>@RickyShop_Site.Models.Entities.db.Utilizadores.Where(s => s.ID_Utilizador == item.ID_Utilizador).FirstOrDefault().PrimeiroNome</td>
                    <td>@item.DataDoPedido.ToString("dd/mm/yyyy")</td>
                    <td>@item.DataDeEntrega.ToString("dd/mm/yyyy")</td>
                    <td>@item.MoradaEntrega</td>
                    <td>@item.PreçoTotal.ToString("N2")€</td>
                    @if (item.Desconto != null)
                    {<td>@item.Desconto%</td>}
                    else
                    {<td>-</td> }
                </tr>
            }
        </tbody>
    </table>



    <div class="footer-section">
        Página @Model.PageNumber de @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Produtos", new { pagina = page }))
    </div>


    <hr />

    <div class="row" style="display:flex; margin-bottom: 10%">
        <div style="width:500px; height:500px">
            <h1>Top 5 Utilizadores mais Gastadores</h1>
            <canvas id="ChartUserGastador"></canvas>
        </div>
        <div style="width:500px; height:500px; margin-left: 15%">
            <h1>Top 5 Utilizadores mais Compradores</h1>
            <canvas id="chartUserComprador"></canvas>
        </div>
    </div>
</body>




<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script src="~/Scripts/jQuery.js"></script>
<script src="~/Scripts/jQueryJava.js"></script>


@*Modal Detalhes do Pedido*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Conteúdo do modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Detalhes do Produto</h3>
            </div>
            <div class="modal-body">
                <div id="conteudoModal">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".PedidosDetails").click(function () {
            var id = $(this).data("value");
            $("#conteudoModal").load("/Admin/ViewPedidosDetails/" + id, function () {
                $("#myModal").modal("show");
            });
        });

    });
</script>




@*Gráficos*@
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("ChartUserMaisGastador", "Admin")',
            method: 'GET',
            success: function (data) {
                var ctx = document.getElementById('ChartUserGastador').getContext('2d');
                new Chart(ctx, {
                    type: 'pie',
                    data: data,
                    options: {
                        responsive: true,
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("ChartUserMaisComprador", "Admin")',
            method: 'GET',
            success: function (data) {
                var ctx = document.getElementById('chartUserComprador').getContext('2d');
                new Chart(ctx, {
                    type: 'pie',
                    data: data,
                    options: {
                        responsive: true,
                    }
                });
            }
        });
    });
</script>
