@using PagedList.Mvc;
@model  PagedList.PagedList<RickyShop_Site.Models.Pedidos>

<h2>Pedidos</h2>
<body>
    <table class="table table-condensed" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Data do Pedido</th>
                <th>Data de Entrega</th>
                <th>Morada</th>
                <th>Preço Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="#" data-value="@item.ID_Pedido" class="PedidosDetails">@item.ID_Pedido</a></td>
                    <td>@RickyShop_Site.Models.Entities.db.Utilizadores.Where(s => s.ID_Utilizador == item.ID_Utilizador).FirstOrDefault().PrimeiroNome</td>
                    <td>@item.DataDoPedido.ToString("dd/mm/yyyy")</td>
                    <td>@item.DataDeEntrega.ToString("dd/mm/yyyy")</td>
                    <td>@item.MoradaEntrega</td>
                    <td>@item.PreçoTotal.ToString("N2")€</td>
                </tr>
            }
        </tbody>
    </table>



    <div class="footer-section">
        Página @Model.PageNumber de @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Produtos", new { pagina = page }))
    </div>


    <hr />

    <div class="row" style="display:flex; margin-bottom: 10%">
        <div style="width:500px; height:500px">
            <h1>Top 5 Utilizadores mais Gastadores</h1>
            <canvas id="ChartUserGastador"></canvas>
        </div>
        <div style="width:500px; height:500px; margin-left: 15%">
            <h1>Top 5 Utilizadores mais Compradores</h1>
            <canvas id="chartUserComprador"></canvas>
        </div>
    </div>
</body>




<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script src="~/Scripts/jQuery.js"></script>
<script src="~/Scripts/jQueryJava.js"></script>


@*Modal Detalhes do Produto*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Conteúdo do modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Detalhes do Produto</h3>
            </div>
            <div class="modal-body">
                <div id="conteudoModal">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".ProdutoDetails").click(function () {
            var id = $(this).data("value");
            $("#conteudoModal").load("/Admin/ViewProdutosDetails/" + id, function () {
                $("#myModal").modal("show");
            });
        });

    });
</script>

@*Modal Adicionar Produtos e Script*@
<div class="modal fade" id="ModalAddProd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Conteúdo do modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Criar Produto</h3>
            </div>
            <div class="modal-body">
                <div id="conteudoModalAddProd">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".AddProduto").click(function () {
            var id = $(this).data("value");
            $("#conteudoModalAddProd").load("/Admin/ViewAddProduto", function () {
                $("#ModalAddProd").modal("show");
            });
        });

    });
</script>

@*Modal Adicionar Marca*@
<div class="modal fade" id="ModalAddMarca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Conteúdo do modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Criar Marca</h3>
            </div>
            <div class="modal-body">
                <div id="conteudoModalAddMarca">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".AddMarca").click(function () {
            var id = $(this).data("value");
            $("#conteudoModalAddMarca").load("/Admin/ViewAddMarca", function () {
                $("#ModalAddMarca").modal("show");
            });
        });

    });
</script>

<!-- Modal Adicionar Imagem -->
<div class="modal fade" id="AddImagem" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Dados de Envio do Pedido</h3>
            </div>
            <div class="modal-body">
                <!-- content goes here -->
                <form method="post" enctype="multipart/form-data" action="~/Admin/AddImagem/">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label>Imagem do Produto</label>
                            <input type="file" name="file" required />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success center-block">Adicionar</button>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>



@*Gráficos*@
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("ChartProdutoMaisVendido", "Admin")',
            method: 'GET',
            success: function (data) {
                var ctx = document.getElementById('ChartUserGastador').getContext('2d');
                new Chart(ctx, {
                    type: 'pie',
                    data: data,
                    options: {
                        responsive: true,
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("ChartMarcaMaisVendida", "Admin")',
            method: 'GET',
            success: function (data) {
                var ctx = document.getElementById('chartUserComprador').getContext('2d');
                new Chart(ctx, {
                    type: 'pie',
                    data: data,
                    options: {
                        responsive: true,
                    }
                });
            }
        });
    });
</script>
