@using PagedList.Mvc;
@model  PagedList.PagedList<RickyShop_Site.Models.Produto>

<h2>Produtos</h2>
<form action ="/Admin/Produtos/">
    <div style="display:flex">
        <select class="form-control" name="marca">
            @foreach (var item in RickyShop_Site.Models.Entities.db.MarcaProduto)
            {
                <option value="@item.ID_Marca">@item.Marca</option>
            }
        </select>
        <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
    </div>
    </form>
    <table class="table table-condensed" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Produto</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Qtd. Stock</th>
                <th>Path Imagem</th>
                <th>Descrição</th>
                <th>Desconto</th>
                <th>Marca</th>
                <th>Genero</th>
                <th>Descontinuo</th>
                <th>Destaque</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="#" data-value="@item.ID_Produto" class="btn btn-default ProdutoDetails">@item.ID_Produto</a></td>
                    <td>@item.Nome</td>
                    <td>@item.PreçoPorQuantidade.ToString("N2")€</td>
                    <td>@RickyShop_Site.Models.Entities.db.Categoria.FirstOrDefault(s => s.ID_Categoria == item.ID_Categoria).NomeCategoria</td>
                    <td>@item.QuantidadeStock</td>
                    <td>@item.ImagemPath</td>
                    <td>@item.Descrição.Substring(0, 30)...</td>
                    <td>
                        @if (item.Desconto != null)
                        {
                            @item.Desconto
                        }
                        else
                        {
                            @("Sem desconto")
                        }

                    </td>
                    <td>@RickyShop_Site.Models.Entities.db.MarcaProduto.FirstOrDefault(s => s.ID_Marca == item.ID_Marca).Marca</td>
                    <td>@item.Genero</td>
                    <td>@item.Descontinuado</td>
                    <td>@item.Destaque</td>
                </tr>
            }
        </tbody>
    </table>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

    <script src="~/Scripts/jQuery.js"></script>
    <script src="~/Scripts/jQueryJava.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#minhaTabela').DataTable();
        });

        let table = new DataTable('#minhaTabela', {
            // options
        });
    </script>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Conteúdo do modal -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Detalhes do Produto</h3>
                </div>
                <div class="modal-body">
                    <div id="conteudoModal">

                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        $(document).ready(function () {
            $(".ProdutoDetails").click(function () {
                var id = $(this).data("value");
                $("#conteudoModal").load("/Admin/ProdutosDetails/" + id, function () {
                    $("#myModal").modal("show");
                });
            });

        });
    </script>

    <div class="footer-section">
        Página @Model.PageNumber de @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Produtos", new { pagina = page }))
    </div>
