@using PagedList.Mvc;
@model  PagedList.PagedList<RickyShop_Site.Models.Utilizadores>

<h2>Utilizadores</h2>
<body>
    <table class="table table-condensed" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>NIF</th>
                <th>Email</th>
                <th>Contacto</th>
                <th>Data de Adesão</th>
                <th>Desconto</th>
                <th>Morada</th>
                <th>Código-Postal</th>
                <th>Pedidos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="#" data-value="@item.ID_Utilizador" class="DescontoUserDetails">@item.ID_Utilizador</a></td>
                    <td>@(item.PrimeiroNome + " " +item.SegundoNome)</td>
                    <td>@item.DataDeNascimento.ToString("dd/MM/yyyy")</td>
                    <td>@item.NIF</td>
                    <td>@item.Email</td>
                    <td>@item.Contacto</td>
                    <td>@item.DataDeAdesao.ToString("dd/MM/yyyy")</td>
                    <td>
                        @if (item.Desconto != null)
                        {
                            @(item.Desconto + "%")
                        }
                        else
                        {
                            @("Sem desconto")
                        }
                    </td>
                    <td>@item.Morada</td>
                    <td>@item.CodigoPostal</td>
                    <td><a href="#" data-value="@item.ID_Utilizador" class="MovimentacoesDetails">@RickyShop_Site.Models.Entities.db.MovimentacaoSaldo.Where(s => s.ID_Utilizador == item.ID_Utilizador && s.Tipo == "+").Count()</a></td>
                </tr>
            }
        </tbody>
    </table>



    <div class="footer-section">
        Página @Model.PageNumber de @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Produtos", new { pagina = page }))
    </div>

    <hr />

    <div class="row" style="display:flex; margin-bottom: 10%">
        <div style="width:500px; height:500px">
            <h2>Estatística de Novos Utilizadores</h2>
            <canvas id="chartNewUser"></canvas>
        </div>
        <div style="width:500px; height:500px; margin-left: 15%">
            <h1>Top 5 Marcas Mais Vendidas</h1>
            <canvas id="chartMarca"></canvas>
        </div>
    </div>

    <hr />

    <h2>Log's</h2>

    <table class="table table-hover table-condensed table-responsive" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Utilizador</th>
                <th>Erro Login</th>
                <th>Login</th>
                <th>Logoff</th>
                <th>IP Login</th>
                <th>Reportar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in RickyShop_Site.Models.Entities.db.Logs)
            {
                <tr>
                    <td>@item.ID_Log</td>
                    <td>@RickyShop_Site.Models.Entities.db.Utilizadores.Where(s => s.ID_Utilizador == item.ID_Utilizador).FirstOrDefault().PrimeiroNome</td>
                    <td>@item.Erro_Login</td>
                    <td>@item.Login</td>
                    <td>@item.LogOff</td>
                    <td>@item.IP_TentativaLogin</td>
                    <td><button class="btn btn-danger">Reportar</button></td>
                </tr>
            }
        </tbody>
    </table>
</body>




<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script src="~/Scripts/jQuery.js"></script>
<script src="~/Scripts/jQueryJava.js"></script>


@*Modal Adicionar Desconto*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Conteúdo do modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Adicionar Desconto</h3>
            </div>
            <div class="modal-body">
                <div id="conteudoModalDesconto">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".DescontoUserDetails").click(function () {
            var id = $(this).data("value");
            $("#conteudoModalDesconto").load("/Admin/ViewDescontoUserDetails/" + id, function () {
                $("#myModal").modal("show");
            });
        });

    });
</script>

@*Modal Adicionar Produtos e Script*@
<div class="modal fade" id="ModalMovConta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Conteúdo do modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Movimentação de Conta</h3>
            </div>
            <div class="modal-body">
                <div id="conteudoModalMovConta">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".MovimentacoesDetails").click(function () {
            var id = $(this).data("value");
            $("#conteudoModalMovConta").load("/Admin/ViewMovConta/" + id, function () {
                $("#ModalMovConta").modal("show");
            });
        });

    });
</script>

@*Modal Adicionar Marca*@
<div class="modal fade" id="ModalAddMarca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Conteúdo do modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Criar Marca</h3>
            </div>
            <div class="modal-body">
                <div id="conteudoModalAddMarca">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".AddMarca").click(function () {
            var id = $(this).data("value");
            $("#conteudoModalAddMarca").load("/Admin/ViewAddMarca", function () {
                $("#ModalAddMarca").modal("show");
            });
        });

    });
</script>

<!-- Modal Adicionar Imagem -->
<div class="modal fade" id="AddImagem" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Dados de Envio do Pedido</h3>
            </div>
            <div class="modal-body">
                <!-- content goes here -->
                <form method="post" enctype="multipart/form-data" action="~/Admin/AddImagem/">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label>Imagem do Produto</label>
                            <input type="file" name="file" required />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success center-block">Adicionar</button>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>



@*Gráficos*@
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("ChartNewUser", "Admin")',
            method: 'GET',
            success: function (data) {
                var ctx = document.getElementById('chartNewUser').getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        responsive: true,
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("ChartMarcaMaisVendida", "Admin")',
            method: 'GET',
            success: function (data) {
                var ctx = document.getElementById('chartMarca').getContext('2d');
                new Chart(ctx, {
                    type: 'pie',
                    data: data,
                    options: {
                        responsive: true,
                    }
                });
            }
        });
    });
</script>
