

<ul class="nav navbar-nav navbar-fixed navbar-right">
    @if (Session["UserID"] != null)
    {
        <li> <a style="width:30px; height:50px" onclick="location.href = '@Url.Action("CarrinhoProdutos", "Produtos", new { id = Convert.ToInt32(Session["UserID"]) })'" class="glyphicon glyphicon-shopping-cart"></a></li>
        <li> <a style="width:30px; height:50px" onclick="location.href = '@Url.Action("CarrinhoProdutos", "Produtos", new { id = Convert.ToInt32(Session["UserID"]) })'" class="glyphicon glyphicon-time"></a></li>
        <li> <a style="width:30px; height:50px" onclick="location.href = '@Url.Action("CarrinhoProdutos", "Produtos", new { id = Convert.ToInt32(Session["UserID"]) })'" class="glyphicon glyphicon-heart"></a></li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Saldo</a></li>
                <li><a href="#">Conta</a></li>
            </ul>
        </li>

        <li> @Html.ActionLink("Terminar Sessão", "LogOff", "Home", null, new { onclick = "return confirm('Tem a certeza que quer sair?');" }) </li>
    }

    @if (Session["UserID"] == null)
    {
        <li>
            @Html.ActionLink("Iniciar Sessão", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    }
</ul>
