
<ul class="nav navbar-nav navbar-fixed navbar-right">
    @if (Session["UserID"] != null)
    {
        int id = Convert.ToInt32(Session["UserID"]);
        string nome = RickyShop_Site.Models.Entities.db.Utilizadores.Where(s => s.ID_Utilizador == id).FirstOrDefault().PrimeiroNome + " " + RickyShop_Site.Models.Entities.db.Utilizadores.Where(s => s.ID_Utilizador == id).FirstOrDefault().SegundoNome;


        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle user-action" style="background-color: #195712"> @nome <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="location.href = '@Url.Action("CarrinhoProdutos", "Produtos", new { id = Convert.ToInt32(Session["UserID"]) })'"><i class="glyphicon glyphicon-shopping-cart"></i> Carrinho</a></li>
                <li><a href="#" onclick="location.href = '@Url.Action("ProdutosFavoritos", "Produtos", new { id = Convert.ToInt32(Session["UserID"]) })'"><i class="glyphicon glyphicon-heart"></i> Favoritos</a></li>
                <li><a href="#" onclick="location.href = '@Url.Action("CarrinhoProdutos", "Produtos", new { id = Convert.ToInt32(Session["UserID"]) })'"><i class="glyphicon glyphicon-time"></i> Historico</a></li>
                <li><a href="#" onclick="location.href = '@Url.Action("Perfil", "Utilizador", new { id = Convert.ToInt32(Session["UserID"]) })'"><i class="glyphicon glyphicon-user"></i> Perfil</a></li>

                <li class="divider"></li>
                <li> @Html.ActionLink("Terminar Sessão", "LogOff", "Home", null, new { onclick = "return confirm('Tem a certeza que quer sair?');" }) </li>

            </ul>
        </li>


    }

    @if (Session["UserID"] == null)
    {
        <li>
            @Html.ActionLink("Iniciar Sessão", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    }
</ul>


