@model List<PAP_RickyShop.Models.DadosCarrinhoProduto_Result>
@{
    var total = 0.0;
    foreach (var item in Entities.db.Carrinho)
    {
        total += Convert.ToDouble(item.PrecoProduto * item.Quantidade);
    }
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="~/Content/StyleCarrinhoProdutos.css" rel="stylesheet" />
<link href="~/Content/StylePopUp.css" rel="stylesheet" />



<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Carrinho Produtos</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @foreach (var item in Model)
                    {
                        <div class="row cart-product">
                            <div class="col-xs-2">
                                <img src="@Html.DisplayFor(modelItem => item.ImagemPath)" class="img-responsive" />
                                @*<img  src="http://placehold.it/100x70">*@
                            </div>
                            <div class="col-xs-4">
                                <h4 class="product-name">
                                    <strong>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </strong>
                                </h4><h4><small>@Html.DisplayFor(modelItem => item.Descrição)</small></h4>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-6 text-right ">
                                    <label style="font-size:20px">
                                        <strong class="cart-product-price">
                                            @Html.DisplayFor(modelItem => item.PreçoPorQuantidade)€
                                        </strong>
                                    </label>
                                </div>
                                <div style="display: flex;">
                                    <input type="text" class="form-control input-sm product-qtd-input" value="@item.Quantidade" style="width: 40px; border-radius: 1px; text-align: center;" readonly="readonly">
                                    <button type="button" style="width: 30px; border-radius: 1px; font-size:15px" class="estiloButtons" onclick="location.href = '@Url.Action("SomaProd", "Produtos", new { @id = 9})'">
                                        @*Mudar a SP e adicionar ID do produto*@
                                        <i class="glyphicon  glyphicon-plus"></i>
                                    </button>
                                    <button type="button" style="width: 30px; border-radius: 1px;">
                                        <i class="glyphicon  glyphicon-minus"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-xs remove-products">
                                        <span class="glyphicon glyphicon-trash "> </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                    }
                </div>
                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-xs-9">
                            <h4 class="text-right ">Total: <b>@total€</b></h4>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="ui green button" data-toggle="modal" data-target="#flipFlop">
                                Checkout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="col-sm-6 col-md-6">
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" id="teste">
                ×
            </button>
            <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
            <hr class="message-inner-separator">
            <p>
                You successfully read this important alert message.
            </p>
        </div>
    </div>*@




<!-- Modal -->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabel">Modal Title</h4>
            </div>
            <div class="modal-body">
                Modal content...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*<script>
        let total = 0
        let itemId = 1

        const cartProducts = document.getElementsByClassName("cart-product")
        for (var i = 0; i < cartProducts.length; i++) {
            //console.log(cartProducts[i])


            const ProductPrice = cartProducts[i].getElementsByClassName("cart-product-price")[0].innerText.replace(",", ".")
            const ProductQuantity = cartProducts[i].getElementsByClassName("product-qtd-input")[0].value

            fetch(`/Produtos/UpdateQuantity?ProdID=${ProductPrice}&quantidade=${ProductQuantity}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })


            total += ProductPrice * ProductQuantity
            console
        }


        document.querySelector(".col-xs-9 strong").innerText = total.toFixed(2).replace(".", ",") + "€"
        //reload();


        //function reload() {
        //    location.replace('https://localhost:44372/Produtos/CarrinhoProdutos/2')
        //}



    </script>*@