@model IEnumerable<RickyShop_Site.Models.Carrinho>

@{
    ViewBag.Title = "CarrinhoProdutosTeste";
}

<h2>CarrinhoProdutosTeste</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Carrinho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Utilizador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Produto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Carrinho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Utilizador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Produto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
